<html>
<head><title>Nadocast</title><link rel='stylesheet' href='main.css'></head>
<body>
<h1>Nadocast</h1>
<p>Eventually the latest forecast will go here.</p>
{{#each subpage}}
<p><a href="{{this}}/index.html">{{this}}</a></p>
{{/each}}
</body>
</html>

